.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
}

.meetVideoContainer > .meetuservideo {
    position: absolute ;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    right: 0;
    border-radius: 20px;
}

.buttonContainer {
    positions: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}

.buttonContainer > button

.conferenceView {

}