.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background: url("/public/90595.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    
}
.landingPageContainer nav {
  padding-inline:1.2rem;
  padding: blck 1.6em;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight:500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}


.landingMainContainer > div:nth-child(1) {
  font-size: 2.2rem;

}

.landingMainContainer >div:nth-child(1) div[role='button'] {
  background: transparent;
  width: fit-content;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 1.4rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a{
  text-decoration: none;
  color: aliceblue;
  font-size: 1.9rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 60vh;
  width: auto;
}
